/* fallback */
@font-face
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('https://fonts.gstatic.com/s/materialicons/v27/2fcrYFNaTjcS6g4U3t-Y5UEw0lE80llgEseQY3FEmqw.woff2') format('woff2')

.material-icon
    font-family 'Material Icons'
    font-weight normal
    font-style normal
    line-height 1
    letter-spacing normal
    text-transform none
    display inline-block
    white-space nowrap
    word-wrap normal
    direction ltr
    -webkit-font-feature-settings 'liga'
    -webkit-font-smoothing antialiased

material-icons(icon = '', size = 24px)
    @extend .material-icon
    font-size size
    content icon

//link https://material.io/icons/#ic_3d_rotation
$ad-icon-3d_rotation = '\e84d'
//link https://material.io/icons/#ic_ac_unit
$ad-icon-ac_unit = '\eb3b'
//link https://material.io/icons/#ic_access_alarm
$ad-icon-access_alarm = '\e190'
//link https://material.io/icons/#ic_access_alarms
$ad-icon-access_alarms = '\e191'
//link https://material.io/icons/#ic_access_time
$ad-icon-access_time = '\e192'
//link https://material.io/icons/#ic_accessibility
$ad-icon-accessibility = '\e84e'
//link https://material.io/icons/#ic_accessible
$ad-icon-accessible = '\e914'
//link https://material.io/icons/#ic_account_balance
$ad-icon-account_balance = '\e84f'
//link https://material.io/icons/#ic_account_balance_wallet
$ad-icon-account_balance_wallet = '\e850'
//link https://material.io/icons/#ic_account_box
$ad-icon-account_box = '\e851'
//link https://material.io/icons/#ic_account_circle
$ad-icon-account_circle = '\e853'
//link https://material.io/icons/#ic_adb
$ad-icon-adb = '\e60e'
//link https://material.io/icons/#ic_add
$ad-icon-add = '\e145'
//link https://material.io/icons/#ic_add_a_photo
$ad-icon-add_a_photo = '\e439'
//link https://material.io/icons/#ic_add_alarm
$ad-icon-add_alarm = '\e193'
//link https://material.io/icons/#ic_add_alert
$ad-icon-add_alert = '\e003'
//link https://material.io/icons/#ic_add_box
$ad-icon-add_box = '\e146'
//link https://material.io/icons/#ic_add_circle
$ad-icon-add_circle = '\e147'
//link https://material.io/icons/#ic_add_circle_outline
$ad-icon-add_circle_outline = '\e148'
//link https://material.io/icons/#ic_add_location
$ad-icon-add_location = '\e567'
//link https://material.io/icons/#ic_add_shopping_cart
$ad-icon-add_shopping_cart = '\e854'
//link https://material.io/icons/#ic_add_to_photos
$ad-icon-add_to_photos = '\e39d'
//link https://material.io/icons/#ic_add_to_queue
$ad-icon-add_to_queue = '\e05c'
//link https://material.io/icons/#ic_adjust
$ad-icon-adjust = '\e39e'
//link https://material.io/icons/#ic_airline_seat_flat
$ad-icon-airline_seat_flat = '\e630'
//link https://material.io/icons/#ic_airline_seat_flat_angled
$ad-icon-airline_seat_flat_angled = '\e631'
//link https://material.io/icons/#ic_airline_seat_individual_suite
$ad-icon-airline_seat_individual_suite = '\e632'
//link https://material.io/icons/#ic_airline_seat_legroom_extra
$ad-icon-airline_seat_legroom_extra = '\e633'
//link https://material.io/icons/#ic_airline_seat_legroom_normal
$ad-icon-airline_seat_legroom_normal = '\e634'
//link https://material.io/icons/#ic_airline_seat_legroom_reduced
$ad-icon-airline_seat_legroom_reduced = '\e635'
//link https://material.io/icons/#ic_airline_seat_recline_extra
$ad-icon-airline_seat_recline_extra = '\e636'
//link https://material.io/icons/#ic_airline_seat_recline_normal
$ad-icon-airline_seat_recline_normal = '\e637'
//link https://material.io/icons/#ic_airplanemode_active
$ad-icon-airplanemode_active = '\e195'
//link https://material.io/icons/#ic_airplanemode_inactive
$ad-icon-airplanemode_inactive = '\e194'
//link https://material.io/icons/#ic_airplay
$ad-icon-airplay = '\e055'
//link https://material.io/icons/#ic_airport_shuttle
$ad-icon-airport_shuttle = '\eb3c'
//link https://material.io/icons/#ic_alarm
$ad-icon-alarm = '\e855'
//link https://material.io/icons/#ic_alarm_add
$ad-icon-alarm_add = '\e856'
//link https://material.io/icons/#ic_alarm_off
$ad-icon-alarm_off = '\e857'
//link https://material.io/icons/#ic_alarm_on
$ad-icon-alarm_on = '\e858'
//link https://material.io/icons/#ic_album
$ad-icon-album = '\e019'
//link https://material.io/icons/#ic_all_inclusive
$ad-icon-all_inclusive = '\eb3d'
//link https://material.io/icons/#ic_all_out
$ad-icon-all_out = '\e90b'
//link https://material.io/icons/#ic_android
$ad-icon-android = '\e859'
//link https://material.io/icons/#ic_announcement
$ad-icon-announcement = '\e85a'
//link https://material.io/icons/#ic_apps
$ad-icon-apps = '\e5c3'
//link https://material.io/icons/#ic_archive
$ad-icon-archive = '\e149'
//link https://material.io/icons/#ic_arrow_back
$ad-icon-arrow_back = '\e5c4'
//link https://material.io/icons/#ic_arrow_downward
$ad-icon-arrow_downward = '\e5db'
//link https://material.io/icons/#ic_arrow_drop_down
$ad-icon-arrow_drop_down = '\e5c5'
//link https://material.io/icons/#ic_arrow_drop_down_circle
$ad-icon-arrow_drop_down_circle = '\e5c6'
//link https://material.io/icons/#ic_arrow_drop_up
$ad-icon-arrow_drop_up = '\e5c7'
//link https://material.io/icons/#ic_arrow_forward
$ad-icon-arrow_forward = '\e5c8'
//link https://material.io/icons/#ic_arrow_upward
$ad-icon-arrow_upward = '\e5d8'
//link https://material.io/icons/#ic_art_track
$ad-icon-art_track = '\e060'
//link https://material.io/icons/#ic_aspect_ratio
$ad-icon-aspect_ratio = '\e85b'
//link https://material.io/icons/#ic_assessment
$ad-icon-assessment = '\e85c'
//link https://material.io/icons/#ic_assignment
$ad-icon-assignment = '\e85d'
//link https://material.io/icons/#ic_assignment_ind
$ad-icon-assignment_ind = '\e85e'
//link https://material.io/icons/#ic_assignment_late
$ad-icon-assignment_late = '\e85f'
//link https://material.io/icons/#ic_assignment_return
$ad-icon-assignment_return = '\e860'
//link https://material.io/icons/#ic_assignment_returned
$ad-icon-assignment_returned = '\e861'
//link https://material.io/icons/#ic_assignment_turned_in
$ad-icon-assignment_turned_in = '\e862'
//link https://material.io/icons/#ic_assistant
$ad-icon-assistant = '\e39f'
//link https://material.io/icons/#ic_assistant_photo
$ad-icon-assistant_photo = '\e3a0'
//link https://material.io/icons/#ic_attach_file
$ad-icon-attach_file = '\e226'
//link https://material.io/icons/#ic_attach_money
$ad-icon-attach_money = '\e227'
//link https://material.io/icons/#ic_attachment
$ad-icon-attachment = '\e2bc'
//link https://material.io/icons/#ic_audiotrack
$ad-icon-audiotrack = '\e3a1'
//link https://material.io/icons/#ic_autorenew
$ad-icon-autorenew = '\e863'
//link https://material.io/icons/#ic_av_timer
$ad-icon-av_timer = '\e01b'
//link https://material.io/icons/#ic_backspace
$ad-icon-backspace = '\e14a'
//link https://material.io/icons/#ic_backup
$ad-icon-backup = '\e864'
//link https://material.io/icons/#ic_battery_alert
$ad-icon-battery_alert = '\e19c'
//link https://material.io/icons/#ic_battery_charging_full
$ad-icon-battery_charging_full = '\e1a3'
//link https://material.io/icons/#ic_battery_full
$ad-icon-battery_full = '\e1a4'
//link https://material.io/icons/#ic_battery_std
$ad-icon-battery_std = '\e1a5'
//link https://material.io/icons/#ic_battery_unknown
$ad-icon-battery_unknown = '\e1a6'
//link https://material.io/icons/#ic_beach_access
$ad-icon-beach_access = '\eb3e'
//link https://material.io/icons/#ic_beenhere
$ad-icon-beenhere = '\e52d'
//link https://material.io/icons/#ic_block
$ad-icon-block = '\e14b'
//link https://material.io/icons/#ic_bluetooth
$ad-icon-bluetooth = '\e1a7'
//link https://material.io/icons/#ic_bluetooth_audio
$ad-icon-bluetooth_audio = '\e60f'
//link https://material.io/icons/#ic_bluetooth_connected
$ad-icon-bluetooth_connected = '\e1a8'
//link https://material.io/icons/#ic_bluetooth_disabled
$ad-icon-bluetooth_disabled = '\e1a9'
//link https://material.io/icons/#ic_bluetooth_searching
$ad-icon-bluetooth_searching = '\e1aa'
//link https://material.io/icons/#ic_blur_circular
$ad-icon-blur_circular = '\e3a2'
//link https://material.io/icons/#ic_blur_linear
$ad-icon-blur_linear = '\e3a3'
//link https://material.io/icons/#ic_blur_off
$ad-icon-blur_off = '\e3a4'
//link https://material.io/icons/#ic_blur_on
$ad-icon-blur_on = '\e3a5'
//link https://material.io/icons/#ic_book
$ad-icon-book = '\e865'
//link https://material.io/icons/#ic_bookmark
$ad-icon-bookmark = '\e866'
//link https://material.io/icons/#ic_bookmark_border
$ad-icon-bookmark_border = '\e867'
//link https://material.io/icons/#ic_border_all
$ad-icon-border_all = '\e228'
//link https://material.io/icons/#ic_border_bottom
$ad-icon-border_bottom = '\e229'
//link https://material.io/icons/#ic_border_clear
$ad-icon-border_clear = '\e22a'
//link https://material.io/icons/#ic_border_color
$ad-icon-border_color = '\e22b'
//link https://material.io/icons/#ic_border_horizontal
$ad-icon-border_horizontal = '\e22c'
//link https://material.io/icons/#ic_border_inner
$ad-icon-border_inner = '\e22d'
//link https://material.io/icons/#ic_border_left
$ad-icon-border_left = '\e22e'
//link https://material.io/icons/#ic_border_outer
$ad-icon-border_outer = '\e22f'
//link https://material.io/icons/#ic_border_right
$ad-icon-border_right = '\e230'
//link https://material.io/icons/#ic_border_style
$ad-icon-border_style = '\e231'
//link https://material.io/icons/#ic_border_top
$ad-icon-border_top = '\e232'
//link https://material.io/icons/#ic_border_vertical
$ad-icon-border_vertical = '\e233'
//link https://material.io/icons/#ic_branding_watermark
$ad-icon-branding_watermark = '\e06b'
//link https://material.io/icons/#ic_brightness_1
$ad-icon-brightness_1 = '\e3a6'
//link https://material.io/icons/#ic_brightness_2
$ad-icon-brightness_2 = '\e3a7'
//link https://material.io/icons/#ic_brightness_3
$ad-icon-brightness_3 = '\e3a8'
//link https://material.io/icons/#ic_brightness_4
$ad-icon-brightness_4 = '\e3a9'
//link https://material.io/icons/#ic_brightness_5
$ad-icon-brightness_5 = '\e3aa'
//link https://material.io/icons/#ic_brightness_6
$ad-icon-brightness_6 = '\e3ab'
//link https://material.io/icons/#ic_brightness_7
$ad-icon-brightness_7 = '\e3ac'
//link https://material.io/icons/#ic_brightness_auto
$ad-icon-brightness_auto = '\e1ab'
//link https://material.io/icons/#ic_brightness_high
$ad-icon-brightness_high = '\e1ac'
//link https://material.io/icons/#ic_brightness_low
$ad-icon-brightness_low = '\e1ad'
//link https://material.io/icons/#ic_brightness_medium
$ad-icon-brightness_medium = '\e1ae'
//link https://material.io/icons/#ic_broken_image
$ad-icon-broken_image = '\e3ad'
//link https://material.io/icons/#ic_brush
$ad-icon-brush = '\e3ae'
//link https://material.io/icons/#ic_bubble_chart
$ad-icon-bubble_chart = '\e6dd'
//link https://material.io/icons/#ic_bug_report
$ad-icon-bug_report = '\e868'
//link https://material.io/icons/#ic_build
$ad-icon-build = '\e869'
//link https://material.io/icons/#ic_burst_mode
$ad-icon-burst_mode = '\e43c'
//link https://material.io/icons/#ic_business
$ad-icon-business = '\e0af'
//link https://material.io/icons/#ic_business_center
$ad-icon-business_center = '\eb3f'
//link https://material.io/icons/#ic_cached
$ad-icon-cached = '\e86a'
//link https://material.io/icons/#ic_cake
$ad-icon-cake = '\e7e9'
//link https://material.io/icons/#ic_call
$ad-icon-call = '\e0b0'
//link https://material.io/icons/#ic_call_end
$ad-icon-call_end = '\e0b1'
//link https://material.io/icons/#ic_call_made
$ad-icon-call_made = '\e0b2'
//link https://material.io/icons/#ic_call_merge
$ad-icon-call_merge = '\e0b3'
//link https://material.io/icons/#ic_call_missed
$ad-icon-call_missed = '\e0b4'
//link https://material.io/icons/#ic_call_missed_outgoing
$ad-icon-call_missed_outgoing = '\e0e4'
//link https://material.io/icons/#ic_call_received
$ad-icon-call_received = '\e0b5'
//link https://material.io/icons/#ic_call_split
$ad-icon-call_split = '\e0b6'
//link https://material.io/icons/#ic_call_to_action
$ad-icon-call_to_action = '\e06c'
//link https://material.io/icons/#ic_camera
$ad-icon-camera = '\e3af'
//link https://material.io/icons/#ic_camera_alt
$ad-icon-camera_alt = '\e3b0'
//link https://material.io/icons/#ic_camera_enhance
$ad-icon-camera_enhance = '\e8fc'
//link https://material.io/icons/#ic_camera_front
$ad-icon-camera_front = '\e3b1'
//link https://material.io/icons/#ic_camera_rear
$ad-icon-camera_rear = '\e3b2'
//link https://material.io/icons/#ic_camera_roll
$ad-icon-camera_roll = '\e3b3'
//link https://material.io/icons/#ic_cancel
$ad-icon-cancel = '\e5c9'
//link https://material.io/icons/#ic_card_giftcard
$ad-icon-card_giftcard = '\e8f6'
//link https://material.io/icons/#ic_card_membership
$ad-icon-card_membership = '\e8f7'
//link https://material.io/icons/#ic_card_travel
$ad-icon-card_travel = '\e8f8'
//link https://material.io/icons/#ic_casino
$ad-icon-casino = '\eb40'
//link https://material.io/icons/#ic_cast
$ad-icon-cast = '\e307'
//link https://material.io/icons/#ic_cast_connected
$ad-icon-cast_connected = '\e308'
//link https://material.io/icons/#ic_center_focus_strong
$ad-icon-center_focus_strong = '\e3b4'
//link https://material.io/icons/#ic_center_focus_weak
$ad-icon-center_focus_weak = '\e3b5'
//link https://material.io/icons/#ic_change_history
$ad-icon-change_history = '\e86b'
//link https://material.io/icons/#ic_chat
$ad-icon-chat = '\e0b7'
//link https://material.io/icons/#ic_chat_bubble
$ad-icon-chat_bubble = '\e0ca'
//link https://material.io/icons/#ic_chat_bubble_outline
$ad-icon-chat_bubble_outline = '\e0cb'
//link https://material.io/icons/#ic_check
$ad-icon-check = '\e5ca'
//link https://material.io/icons/#ic_check_box
$ad-icon-check_box = '\e834'
//link https://material.io/icons/#ic_check_box_outline_blank
$ad-icon-check_box_outline_blank = '\e835'
//link https://material.io/icons/#ic_check_circle
$ad-icon-check_circle = '\e86c'
//link https://material.io/icons/#ic_chevron_left
$ad-icon-chevron_left = '\e5cb'
//link https://material.io/icons/#ic_chevron_right
$ad-icon-chevron_right = '\e5cc'
//link https://material.io/icons/#ic_child_care
$ad-icon-child_care = '\eb41'
//link https://material.io/icons/#ic_child_friendly
$ad-icon-child_friendly = '\eb42'
//link https://material.io/icons/#ic_chrome_reader_mode
$ad-icon-chrome_reader_mode = '\e86d'
//link https://material.io/icons/#ic_class
$ad-icon-class = '\e86e'
//link https://material.io/icons/#ic_clear
$ad-icon-clear = '\e14c'
//link https://material.io/icons/#ic_clear_all
$ad-icon-clear_all = '\e0b8'
//link https://material.io/icons/#ic_close
$ad-icon-close = '\e5cd'
//link https://material.io/icons/#ic_closed_caption
$ad-icon-closed_caption = '\e01c'
//link https://material.io/icons/#ic_cloud
$ad-icon-cloud = '\e2bd'
//link https://material.io/icons/#ic_cloud_circle
$ad-icon-cloud_circle = '\e2be'
//link https://material.io/icons/#ic_cloud_done
$ad-icon-cloud_done = '\e2bf'
//link https://material.io/icons/#ic_cloud_download
$ad-icon-cloud_download = '\e2c0'
//link https://material.io/icons/#ic_cloud_off
$ad-icon-cloud_off = '\e2c1'
//link https://material.io/icons/#ic_cloud_queue
$ad-icon-cloud_queue = '\e2c2'
//link https://material.io/icons/#ic_cloud_upload
$ad-icon-cloud_upload = '\e2c3'
//link https://material.io/icons/#ic_code
$ad-icon-code = '\e86f'
//link https://material.io/icons/#ic_collections
$ad-icon-collections = '\e3b6'
//link https://material.io/icons/#ic_collections_bookmark
$ad-icon-collections_bookmark = '\e431'
//link https://material.io/icons/#ic_color_lens
$ad-icon-color_lens = '\e3b7'
//link https://material.io/icons/#ic_colorize
$ad-icon-colorize = '\e3b8'
//link https://material.io/icons/#ic_comment
$ad-icon-comment = '\e0b9'
//link https://material.io/icons/#ic_compare
$ad-icon-compare = '\e3b9'
//link https://material.io/icons/#ic_compare_arrows
$ad-icon-compare_arrows = '\e915'
//link https://material.io/icons/#ic_computer
$ad-icon-computer = '\e30a'
//link https://material.io/icons/#ic_confirmation_number
$ad-icon-confirmation_number = '\e638'
//link https://material.io/icons/#ic_contact_mail
$ad-icon-contact_mail = '\e0d0'
//link https://material.io/icons/#ic_contact_phone
$ad-icon-contact_phone = '\e0cf'
//link https://material.io/icons/#ic_contacts
$ad-icon-contacts = '\e0ba'
//link https://material.io/icons/#ic_content_copy
$ad-icon-content_copy = '\e14d'
//link https://material.io/icons/#ic_content_cut
$ad-icon-content_cut = '\e14e'
//link https://material.io/icons/#ic_content_paste
$ad-icon-content_paste = '\e14f'
//link https://material.io/icons/#ic_control_point
$ad-icon-control_point = '\e3ba'
//link https://material.io/icons/#ic_control_point_duplicate
$ad-icon-control_point_duplicate = '\e3bb'
//link https://material.io/icons/#ic_copyright
$ad-icon-copyright = '\e90c'
//link https://material.io/icons/#ic_create
$ad-icon-create = '\e150'
//link https://material.io/icons/#ic_create_new_folder
$ad-icon-create_new_folder = '\e2cc'
//link https://material.io/icons/#ic_credit_card
$ad-icon-credit_card = '\e870'
//link https://material.io/icons/#ic_crop
$ad-icon-crop = '\e3be'
//link https://material.io/icons/#ic_crop_16_9
$ad-icon-crop_16_9 = '\e3bc'
//link https://material.io/icons/#ic_crop_3_2
$ad-icon-crop_3_2 = '\e3bd'
//link https://material.io/icons/#ic_crop_5_4
$ad-icon-crop_5_4 = '\e3bf'
//link https://material.io/icons/#ic_crop_7_5
$ad-icon-crop_7_5 = '\e3c0'
//link https://material.io/icons/#ic_crop_din
$ad-icon-crop_din = '\e3c1'
//link https://material.io/icons/#ic_crop_free
$ad-icon-crop_free = '\e3c2'
//link https://material.io/icons/#ic_crop_landscape
$ad-icon-crop_landscape = '\e3c3'
//link https://material.io/icons/#ic_crop_original
$ad-icon-crop_original = '\e3c4'
//link https://material.io/icons/#ic_crop_portrait
$ad-icon-crop_portrait = '\e3c5'
//link https://material.io/icons/#ic_crop_rotate
$ad-icon-crop_rotate = '\e437'
//link https://material.io/icons/#ic_crop_square
$ad-icon-crop_square = '\e3c6'
//link https://material.io/icons/#ic_dashboard
$ad-icon-dashboard = '\e871'
//link https://material.io/icons/#ic_data_usage
$ad-icon-data_usage = '\e1af'
//link https://material.io/icons/#ic_date_range
$ad-icon-date_range = '\e916'
//link https://material.io/icons/#ic_dehaze
$ad-icon-dehaze = '\e3c7'
//link https://material.io/icons/#ic_delete
$ad-icon-delete = '\e872'
//link https://material.io/icons/#ic_delete_forever
$ad-icon-delete_forever = '\e92b'
//link https://material.io/icons/#ic_delete_sweep
$ad-icon-delete_sweep = '\e16c'
//link https://material.io/icons/#ic_description
$ad-icon-description = '\e873'
//link https://material.io/icons/#ic_desktop_mac
$ad-icon-desktop_mac = '\e30b'
//link https://material.io/icons/#ic_desktop_windows
$ad-icon-desktop_windows = '\e30c'
//link https://material.io/icons/#ic_details
$ad-icon-details = '\e3c8'
//link https://material.io/icons/#ic_developer_board
$ad-icon-developer_board = '\e30d'
//link https://material.io/icons/#ic_developer_mode
$ad-icon-developer_mode = '\e1b0'
//link https://material.io/icons/#ic_device_hub
$ad-icon-device_hub = '\e335'
//link https://material.io/icons/#ic_devices
$ad-icon-devices = '\e1b1'
//link https://material.io/icons/#ic_devices_other
$ad-icon-devices_other = '\e337'
//link https://material.io/icons/#ic_dialer_sip
$ad-icon-dialer_sip = '\e0bb'
//link https://material.io/icons/#ic_dialpad
$ad-icon-dialpad = '\e0bc'
//link https://material.io/icons/#ic_directions
$ad-icon-directions = '\e52e'
//link https://material.io/icons/#ic_directions_bike
$ad-icon-directions_bike = '\e52f'
//link https://material.io/icons/#ic_directions_boat
$ad-icon-directions_boat = '\e532'
//link https://material.io/icons/#ic_directions_bus
$ad-icon-directions_bus = '\e530'
//link https://material.io/icons/#ic_directions_car
$ad-icon-directions_car = '\e531'
//link https://material.io/icons/#ic_directions_railway
$ad-icon-directions_railway = '\e534'
//link https://material.io/icons/#ic_directions_run
$ad-icon-directions_run = '\e566'
//link https://material.io/icons/#ic_directions_subway
$ad-icon-directions_subway = '\e533'
//link https://material.io/icons/#ic_directions_transit
$ad-icon-directions_transit = '\e535'
//link https://material.io/icons/#ic_directions_walk
$ad-icon-directions_walk = '\e536'
//link https://material.io/icons/#ic_disc_full
$ad-icon-disc_full = '\e610'
//link https://material.io/icons/#ic_dns
$ad-icon-dns = '\e875'
//link https://material.io/icons/#ic_do_not_disturb
$ad-icon-do_not_disturb = '\e612'
//link https://material.io/icons/#ic_do_not_disturb_alt
$ad-icon-do_not_disturb_alt = '\e611'
//link https://material.io/icons/#ic_do_not_disturb_off
$ad-icon-do_not_disturb_off = '\e643'
//link https://material.io/icons/#ic_do_not_disturb_on
$ad-icon-do_not_disturb_on = '\e644'
//link https://material.io/icons/#ic_dock
$ad-icon-dock = '\e30e'
//link https://material.io/icons/#ic_domain
$ad-icon-domain = '\e7ee'
//link https://material.io/icons/#ic_done
$ad-icon-done = '\e876'
//link https://material.io/icons/#ic_done_all
$ad-icon-done_all = '\e877'
//link https://material.io/icons/#ic_donut_large
$ad-icon-donut_large = '\e917'
//link https://material.io/icons/#ic_donut_small
$ad-icon-donut_small = '\e918'
//link https://material.io/icons/#ic_drafts
$ad-icon-drafts = '\e151'
//link https://material.io/icons/#ic_drag_handle
$ad-icon-drag_handle = '\e25d'
//link https://material.io/icons/#ic_drive_eta
$ad-icon-drive_eta = '\e613'
//link https://material.io/icons/#ic_dvr
$ad-icon-dvr = '\e1b2'
//link https://material.io/icons/#ic_edit
$ad-icon-edit = '\e3c9'
//link https://material.io/icons/#ic_edit_location
$ad-icon-edit_location = '\e568'
//link https://material.io/icons/#ic_eject
$ad-icon-eject = '\e8fb'
//link https://material.io/icons/#ic_email
$ad-icon-email = '\e0be'
//link https://material.io/icons/#ic_enhanced_encryption
$ad-icon-enhanced_encryption = '\e63f'
//link https://material.io/icons/#ic_equalizer
$ad-icon-equalizer = '\e01d'
//link https://material.io/icons/#ic_error
$ad-icon-error = '\e000'
//link https://material.io/icons/#ic_error_outline
$ad-icon-error_outline = '\e001'
//link https://material.io/icons/#ic_euro_symbol
$ad-icon-euro_symbol = '\e926'
//link https://material.io/icons/#ic_ev_station
$ad-icon-ev_station = '\e56d'
//link https://material.io/icons/#ic_event
$ad-icon-event = '\e878'
//link https://material.io/icons/#ic_event_available
$ad-icon-event_available = '\e614'
//link https://material.io/icons/#ic_event_busy
$ad-icon-event_busy = '\e615'
//link https://material.io/icons/#ic_event_note
$ad-icon-event_note = '\e616'
//link https://material.io/icons/#ic_event_seat
$ad-icon-event_seat = '\e903'
//link https://material.io/icons/#ic_exit_to_app
$ad-icon-exit_to_app = '\e879'
//link https://material.io/icons/#ic_expand_less
$ad-icon-expand_less = '\e5ce'
//link https://material.io/icons/#ic_expand_more
$ad-icon-expand_more = '\e5cf'
//link https://material.io/icons/#ic_explicit
$ad-icon-explicit = '\e01e'
//link https://material.io/icons/#ic_explore
$ad-icon-explore = '\e87a'
//link https://material.io/icons/#ic_exposure
$ad-icon-exposure = '\e3ca'
//link https://material.io/icons/#ic_exposure_neg_1
$ad-icon-exposure_neg_1 = '\e3cb'
//link https://material.io/icons/#ic_exposure_neg_2
$ad-icon-exposure_neg_2 = '\e3cc'
//link https://material.io/icons/#ic_exposure_plus_1
$ad-icon-exposure_plus_1 = '\e3cd'
//link https://material.io/icons/#ic_exposure_plus_2
$ad-icon-exposure_plus_2 = '\e3ce'
//link https://material.io/icons/#ic_exposure_zero
$ad-icon-exposure_zero = '\e3cf'
//link https://material.io/icons/#ic_extension
$ad-icon-extension = '\e87b'
//link https://material.io/icons/#ic_face
$ad-icon-face = '\e87c'
//link https://material.io/icons/#ic_fast_forward
$ad-icon-fast_forward = '\e01f'
//link https://material.io/icons/#ic_fast_rewind
$ad-icon-fast_rewind = '\e020'
//link https://material.io/icons/#ic_favorite
$ad-icon-favorite = '\e87d'
//link https://material.io/icons/#ic_favorite_border
$ad-icon-favorite_border = '\e87e'
//link https://material.io/icons/#ic_featured_play_list
$ad-icon-featured_play_list = '\e06d'
//link https://material.io/icons/#ic_featured_video
$ad-icon-featured_video = '\e06e'
//link https://material.io/icons/#ic_feedback
$ad-icon-feedback = '\e87f'
//link https://material.io/icons/#ic_fiber_dvr
$ad-icon-fiber_dvr = '\e05d'
//link https://material.io/icons/#ic_fiber_manual_record
$ad-icon-fiber_manual_record = '\e061'
//link https://material.io/icons/#ic_fiber_new
$ad-icon-fiber_new = '\e05e'
//link https://material.io/icons/#ic_fiber_pin
$ad-icon-fiber_pin = '\e06a'
//link https://material.io/icons/#ic_fiber_smart_record
$ad-icon-fiber_smart_record = '\e062'
//link https://material.io/icons/#ic_file_download
$ad-icon-file_download = '\e2c4'
//link https://material.io/icons/#ic_file_upload
$ad-icon-file_upload = '\e2c6'
//link https://material.io/icons/#ic_filter
$ad-icon-filter = '\e3d3'
//link https://material.io/icons/#ic_filter_1
$ad-icon-filter_1 = '\e3d0'
//link https://material.io/icons/#ic_filter_2
$ad-icon-filter_2 = '\e3d1'
//link https://material.io/icons/#ic_filter_3
$ad-icon-filter_3 = '\e3d2'
//link https://material.io/icons/#ic_filter_4
$ad-icon-filter_4 = '\e3d4'
//link https://material.io/icons/#ic_filter_5
$ad-icon-filter_5 = '\e3d5'
//link https://material.io/icons/#ic_filter_6
$ad-icon-filter_6 = '\e3d6'
//link https://material.io/icons/#ic_filter_7
$ad-icon-filter_7 = '\e3d7'
//link https://material.io/icons/#ic_filter_8
$ad-icon-filter_8 = '\e3d8'
//link https://material.io/icons/#ic_filter_9
$ad-icon-filter_9 = '\e3d9'
//link https://material.io/icons/#ic_filter_9_plus
$ad-icon-filter_9_plus = '\e3da'
//link https://material.io/icons/#ic_filter_b_and_w
$ad-icon-filter_b_and_w = '\e3db'
//link https://material.io/icons/#ic_filter_center_focus
$ad-icon-filter_center_focus = '\e3dc'
//link https://material.io/icons/#ic_filter_drama
$ad-icon-filter_drama = '\e3dd'
//link https://material.io/icons/#ic_filter_frames
$ad-icon-filter_frames = '\e3de'
//link https://material.io/icons/#ic_filter_hdr
$ad-icon-filter_hdr = '\e3df'
//link https://material.io/icons/#ic_filter_list
$ad-icon-filter_list = '\e152'
//link https://material.io/icons/#ic_filter_none
$ad-icon-filter_none = '\e3e0'
//link https://material.io/icons/#ic_filter_tilt_shift
$ad-icon-filter_tilt_shift = '\e3e2'
//link https://material.io/icons/#ic_filter_vintage
$ad-icon-filter_vintage = '\e3e3'
//link https://material.io/icons/#ic_find_in_page
$ad-icon-find_in_page = '\e880'
//link https://material.io/icons/#ic_find_replace
$ad-icon-find_replace = '\e881'
//link https://material.io/icons/#ic_fingerprint
$ad-icon-fingerprint = '\e90d'
//link https://material.io/icons/#ic_first_page
$ad-icon-first_page = '\e5dc'
//link https://material.io/icons/#ic_fitness_center
$ad-icon-fitness_center = '\eb43'
//link https://material.io/icons/#ic_flag
$ad-icon-flag = '\e153'
//link https://material.io/icons/#ic_flare
$ad-icon-flare = '\e3e4'
//link https://material.io/icons/#ic_flash_auto
$ad-icon-flash_auto = '\e3e5'
//link https://material.io/icons/#ic_flash_off
$ad-icon-flash_off = '\e3e6'
//link https://material.io/icons/#ic_flash_on
$ad-icon-flash_on = '\e3e7'
//link https://material.io/icons/#ic_flight
$ad-icon-flight = '\e539'
//link https://material.io/icons/#ic_flight_land
$ad-icon-flight_land = '\e904'
//link https://material.io/icons/#ic_flight_takeoff
$ad-icon-flight_takeoff = '\e905'
//link https://material.io/icons/#ic_flip
$ad-icon-flip = '\e3e8'
//link https://material.io/icons/#ic_flip_to_back
$ad-icon-flip_to_back = '\e882'
//link https://material.io/icons/#ic_flip_to_front
$ad-icon-flip_to_front = '\e883'
//link https://material.io/icons/#ic_folder
$ad-icon-folder = '\e2c7'
//link https://material.io/icons/#ic_folder_open
$ad-icon-folder_open = '\e2c8'
//link https://material.io/icons/#ic_folder_shared
$ad-icon-folder_shared = '\e2c9'
//link https://material.io/icons/#ic_folder_special
$ad-icon-folder_special = '\e617'
//link https://material.io/icons/#ic_font_download
$ad-icon-font_download = '\e167'
//link https://material.io/icons/#ic_format_align_center
$ad-icon-format_align_center = '\e234'
//link https://material.io/icons/#ic_format_align_justify
$ad-icon-format_align_justify = '\e235'
//link https://material.io/icons/#ic_format_align_left
$ad-icon-format_align_left = '\e236'
//link https://material.io/icons/#ic_format_align_right
$ad-icon-format_align_right = '\e237'
//link https://material.io/icons/#ic_format_bold
$ad-icon-format_bold = '\e238'
//link https://material.io/icons/#ic_format_clear
$ad-icon-format_clear = '\e239'
//link https://material.io/icons/#ic_format_color_fill
$ad-icon-format_color_fill = '\e23a'
//link https://material.io/icons/#ic_format_color_reset
$ad-icon-format_color_reset = '\e23b'
//link https://material.io/icons/#ic_format_color_text
$ad-icon-format_color_text = '\e23c'
//link https://material.io/icons/#ic_format_indent_decrease
$ad-icon-format_indent_decrease = '\e23d'
//link https://material.io/icons/#ic_format_indent_increase
$ad-icon-format_indent_increase = '\e23e'
//link https://material.io/icons/#ic_format_italic
$ad-icon-format_italic = '\e23f'
//link https://material.io/icons/#ic_format_line_spacing
$ad-icon-format_line_spacing = '\e240'
//link https://material.io/icons/#ic_format_list_bulleted
$ad-icon-format_list_bulleted = '\e241'
//link https://material.io/icons/#ic_format_list_numbered
$ad-icon-format_list_numbered = '\e242'
//link https://material.io/icons/#ic_format_paint
$ad-icon-format_paint = '\e243'
//link https://material.io/icons/#ic_format_quote
$ad-icon-format_quote = '\e244'
//link https://material.io/icons/#ic_format_shapes
$ad-icon-format_shapes = '\e25e'
//link https://material.io/icons/#ic_format_size
$ad-icon-format_size = '\e245'
//link https://material.io/icons/#ic_format_strikethrough
$ad-icon-format_strikethrough = '\e246'
//link https://material.io/icons/#ic_format_textdirection_l_to_r
$ad-icon-format_textdirection_l_to_r = '\e247'
//link https://material.io/icons/#ic_format_textdirection_r_to_l
$ad-icon-format_textdirection_r_to_l = '\e248'
//link https://material.io/icons/#ic_format_underlined
$ad-icon-format_underlined = '\e249'
//link https://material.io/icons/#ic_forum
$ad-icon-forum = '\e0bf'
//link https://material.io/icons/#ic_forward
$ad-icon-forward = '\e154'
//link https://material.io/icons/#ic_forward_10
$ad-icon-forward_10 = '\e056'
//link https://material.io/icons/#ic_forward_30
$ad-icon-forward_30 = '\e057'
//link https://material.io/icons/#ic_forward_5
$ad-icon-forward_5 = '\e058'
//link https://material.io/icons/#ic_free_breakfast
$ad-icon-free_breakfast = '\eb44'
//link https://material.io/icons/#ic_fullscreen
$ad-icon-fullscreen = '\e5d0'
//link https://material.io/icons/#ic_fullscreen_exit
$ad-icon-fullscreen_exit = '\e5d1'
//link https://material.io/icons/#ic_functions
$ad-icon-functions = '\e24a'
//link https://material.io/icons/#ic_g_translate
$ad-icon-g_translate = '\e927'
//link https://material.io/icons/#ic_gamepad
$ad-icon-gamepad = '\e30f'
//link https://material.io/icons/#ic_games
$ad-icon-games = '\e021'
//link https://material.io/icons/#ic_gavel
$ad-icon-gavel = '\e90e'
//link https://material.io/icons/#ic_gesture
$ad-icon-gesture = '\e155'
//link https://material.io/icons/#ic_get_app
$ad-icon-get_app = '\e884'
//link https://material.io/icons/#ic_gif
$ad-icon-gif = '\e908'
//link https://material.io/icons/#ic_golf_course
$ad-icon-golf_course = '\eb45'
//link https://material.io/icons/#ic_gps_fixed
$ad-icon-gps_fixed = '\e1b3'
//link https://material.io/icons/#ic_gps_not_fixed
$ad-icon-gps_not_fixed = '\e1b4'
//link https://material.io/icons/#ic_gps_off
$ad-icon-gps_off = '\e1b5'
//link https://material.io/icons/#ic_grade
$ad-icon-grade = '\e885'
//link https://material.io/icons/#ic_gradient
$ad-icon-gradient = '\e3e9'
//link https://material.io/icons/#ic_grain
$ad-icon-grain = '\e3ea'
//link https://material.io/icons/#ic_graphic_eq
$ad-icon-graphic_eq = '\e1b8'
//link https://material.io/icons/#ic_grid_off
$ad-icon-grid_off = '\e3eb'
//link https://material.io/icons/#ic_grid_on
$ad-icon-grid_on = '\e3ec'
//link https://material.io/icons/#ic_group
$ad-icon-group = '\e7ef'
//link https://material.io/icons/#ic_group_add
$ad-icon-group_add = '\e7f0'
//link https://material.io/icons/#ic_group_work
$ad-icon-group_work = '\e886'
//link https://material.io/icons/#ic_hd
$ad-icon-hd = '\e052'
//link https://material.io/icons/#ic_hdr_off
$ad-icon-hdr_off = '\e3ed'
//link https://material.io/icons/#ic_hdr_on
$ad-icon-hdr_on = '\e3ee'
//link https://material.io/icons/#ic_hdr_strong
$ad-icon-hdr_strong = '\e3f1'
//link https://material.io/icons/#ic_hdr_weak
$ad-icon-hdr_weak = '\e3f2'
//link https://material.io/icons/#ic_headset
$ad-icon-headset = '\e310'
//link https://material.io/icons/#ic_headset_mic
$ad-icon-headset_mic = '\e311'
//link https://material.io/icons/#ic_healing
$ad-icon-healing = '\e3f3'
//link https://material.io/icons/#ic_hearing
$ad-icon-hearing = '\e023'
//link https://material.io/icons/#ic_help
$ad-icon-help = '\e887'
//link https://material.io/icons/#ic_help_outline
$ad-icon-help_outline = '\e8fd'
//link https://material.io/icons/#ic_high_quality
$ad-icon-high_quality = '\e024'
//link https://material.io/icons/#ic_highlight
$ad-icon-highlight = '\e25f'
//link https://material.io/icons/#ic_highlight_off
$ad-icon-highlight_off = '\e888'
//link https://material.io/icons/#ic_history
$ad-icon-history = '\e889'
//link https://material.io/icons/#ic_home
$ad-icon-home = '\e88a'
//link https://material.io/icons/#ic_hot_tub
$ad-icon-hot_tub = '\eb46'
//link https://material.io/icons/#ic_hotel
$ad-icon-hotel = '\e53a'
//link https://material.io/icons/#ic_hourglass_empty
$ad-icon-hourglass_empty = '\e88b'
//link https://material.io/icons/#ic_hourglass_full
$ad-icon-hourglass_full = '\e88c'
//link https://material.io/icons/#ic_http
$ad-icon-http = '\e902'
//link https://material.io/icons/#ic_https
$ad-icon-https = '\e88d'
//link https://material.io/icons/#ic_image
$ad-icon-image = '\e3f4'
//link https://material.io/icons/#ic_image_aspect_ratio
$ad-icon-image_aspect_ratio = '\e3f5'
//link https://material.io/icons/#ic_import_contacts
$ad-icon-import_contacts = '\e0e0'
//link https://material.io/icons/#ic_import_export
$ad-icon-import_export = '\e0c3'
//link https://material.io/icons/#ic_important_devices
$ad-icon-important_devices = '\e912'
//link https://material.io/icons/#ic_inbox
$ad-icon-inbox = '\e156'
//link https://material.io/icons/#ic_indeterminate_check_box
$ad-icon-indeterminate_check_box = '\e909'
//link https://material.io/icons/#ic_info
$ad-icon-info = '\e88e'
//link https://material.io/icons/#ic_info_outline
$ad-icon-info_outline = '\e88f'
//link https://material.io/icons/#ic_input
$ad-icon-input = '\e890'
//link https://material.io/icons/#ic_insert_chart
$ad-icon-insert_chart = '\e24b'
//link https://material.io/icons/#ic_insert_comment
$ad-icon-insert_comment = '\e24c'
//link https://material.io/icons/#ic_insert_drive_file
$ad-icon-insert_drive_file = '\e24d'
//link https://material.io/icons/#ic_insert_emoticon
$ad-icon-insert_emoticon = '\e24e'
//link https://material.io/icons/#ic_insert_invitation
$ad-icon-insert_invitation = '\e24f'
//link https://material.io/icons/#ic_insert_link
$ad-icon-insert_link = '\e250'
//link https://material.io/icons/#ic_insert_photo
$ad-icon-insert_photo = '\e251'
//link https://material.io/icons/#ic_invert_colors
$ad-icon-invert_colors = '\e891'
//link https://material.io/icons/#ic_invert_colors_off
$ad-icon-invert_colors_off = '\e0c4'
//link https://material.io/icons/#ic_iso
$ad-icon-iso = '\e3f6'
//link https://material.io/icons/#ic_keyboard
$ad-icon-keyboard = '\e312'
//link https://material.io/icons/#ic_keyboard_arrow_down
$ad-icon-keyboard_arrow_down = '\e313'
//link https://material.io/icons/#ic_keyboard_arrow_left
$ad-icon-keyboard_arrow_left = '\e314'
//link https://material.io/icons/#ic_keyboard_arrow_right
$ad-icon-keyboard_arrow_right = '\e315'
//link https://material.io/icons/#ic_keyboard_arrow_up
$ad-icon-keyboard_arrow_up = '\e316'
//link https://material.io/icons/#ic_keyboard_backspace
$ad-icon-keyboard_backspace = '\e317'
//link https://material.io/icons/#ic_keyboard_capslock
$ad-icon-keyboard_capslock = '\e318'
//link https://material.io/icons/#ic_keyboard_hide
$ad-icon-keyboard_hide = '\e31a'
//link https://material.io/icons/#ic_keyboard_return
$ad-icon-keyboard_return = '\e31b'
//link https://material.io/icons/#ic_keyboard_tab
$ad-icon-keyboard_tab = '\e31c'
//link https://material.io/icons/#ic_keyboard_voice
$ad-icon-keyboard_voice = '\e31d'
//link https://material.io/icons/#ic_kitchen
$ad-icon-kitchen = '\eb47'
//link https://material.io/icons/#ic_label
$ad-icon-label = '\e892'
//link https://material.io/icons/#ic_label_outline
$ad-icon-label_outline = '\e893'
//link https://material.io/icons/#ic_landscape
$ad-icon-landscape = '\e3f7'
//link https://material.io/icons/#ic_language
$ad-icon-language = '\e894'
//link https://material.io/icons/#ic_laptop
$ad-icon-laptop = '\e31e'
//link https://material.io/icons/#ic_laptop_chromebook
$ad-icon-laptop_chromebook = '\e31f'
//link https://material.io/icons/#ic_laptop_mac
$ad-icon-laptop_mac = '\e320'
//link https://material.io/icons/#ic_laptop_windows
$ad-icon-laptop_windows = '\e321'
//link https://material.io/icons/#ic_last_page
$ad-icon-last_page = '\e5dd'
//link https://material.io/icons/#ic_launch
$ad-icon-launch = '\e895'
//link https://material.io/icons/#ic_layers
$ad-icon-layers = '\e53b'
//link https://material.io/icons/#ic_layers_clear
$ad-icon-layers_clear = '\e53c'
//link https://material.io/icons/#ic_leak_add
$ad-icon-leak_add = '\e3f8'
//link https://material.io/icons/#ic_leak_remove
$ad-icon-leak_remove = '\e3f9'
//link https://material.io/icons/#ic_lens
$ad-icon-lens = '\e3fa'
//link https://material.io/icons/#ic_library_add
$ad-icon-library_add = '\e02e'
//link https://material.io/icons/#ic_library_books
$ad-icon-library_books = '\e02f'
//link https://material.io/icons/#ic_library_music
$ad-icon-library_music = '\e030'
//link https://material.io/icons/#ic_lightbulb_outline
$ad-icon-lightbulb_outline = '\e90f'
//link https://material.io/icons/#ic_line_style
$ad-icon-line_style = '\e919'
//link https://material.io/icons/#ic_line_weight
$ad-icon-line_weight = '\e91a'
//link https://material.io/icons/#ic_linear_scale
$ad-icon-linear_scale = '\e260'
//link https://material.io/icons/#ic_link
$ad-icon-link = '\e157'
//link https://material.io/icons/#ic_linked_camera
$ad-icon-linked_camera = '\e438'
//link https://material.io/icons/#ic_list
$ad-icon-list = '\e896'
//link https://material.io/icons/#ic_live_help
$ad-icon-live_help = '\e0c6'
//link https://material.io/icons/#ic_live_tv
$ad-icon-live_tv = '\e639'
//link https://material.io/icons/#ic_local_activity
$ad-icon-local_activity = '\e53f'
//link https://material.io/icons/#ic_local_airport
$ad-icon-local_airport = '\e53d'
//link https://material.io/icons/#ic_local_atm
$ad-icon-local_atm = '\e53e'
//link https://material.io/icons/#ic_local_bar
$ad-icon-local_bar = '\e540'
//link https://material.io/icons/#ic_local_cafe
$ad-icon-local_cafe = '\e541'
//link https://material.io/icons/#ic_local_car_wash
$ad-icon-local_car_wash = '\e542'
//link https://material.io/icons/#ic_local_convenience_store
$ad-icon-local_convenience_store = '\e543'
//link https://material.io/icons/#ic_local_dining
$ad-icon-local_dining = '\e556'
//link https://material.io/icons/#ic_local_drink
$ad-icon-local_drink = '\e544'
//link https://material.io/icons/#ic_local_florist
$ad-icon-local_florist = '\e545'
//link https://material.io/icons/#ic_local_gas_station
$ad-icon-local_gas_station = '\e546'
//link https://material.io/icons/#ic_local_grocery_store
$ad-icon-local_grocery_store = '\e547'
//link https://material.io/icons/#ic_local_hospital
$ad-icon-local_hospital = '\e548'
//link https://material.io/icons/#ic_local_hotel
$ad-icon-local_hotel = '\e549'
//link https://material.io/icons/#ic_local_laundry_service
$ad-icon-local_laundry_service = '\e54a'
//link https://material.io/icons/#ic_local_library
$ad-icon-local_library = '\e54b'
//link https://material.io/icons/#ic_local_mall
$ad-icon-local_mall = '\e54c'
//link https://material.io/icons/#ic_local_movies
$ad-icon-local_movies = '\e54d'
//link https://material.io/icons/#ic_local_offer
$ad-icon-local_offer = '\e54e'
//link https://material.io/icons/#ic_local_parking
$ad-icon-local_parking = '\e54f'
//link https://material.io/icons/#ic_local_pharmacy
$ad-icon-local_pharmacy = '\e550'
//link https://material.io/icons/#ic_local_phone
$ad-icon-local_phone = '\e551'
//link https://material.io/icons/#ic_local_pizza
$ad-icon-local_pizza = '\e552'
//link https://material.io/icons/#ic_local_play
$ad-icon-local_play = '\e553'
//link https://material.io/icons/#ic_local_post_office
$ad-icon-local_post_office = '\e554'
//link https://material.io/icons/#ic_local_printshop
$ad-icon-local_printshop = '\e555'
//link https://material.io/icons/#ic_local_see
$ad-icon-local_see = '\e557'
//link https://material.io/icons/#ic_local_shipping
$ad-icon-local_shipping = '\e558'
//link https://material.io/icons/#ic_local_taxi
$ad-icon-local_taxi = '\e559'
//link https://material.io/icons/#ic_location_city
$ad-icon-location_city = '\e7f1'
//link https://material.io/icons/#ic_location_disabled
$ad-icon-location_disabled = '\e1b6'
//link https://material.io/icons/#ic_location_off
$ad-icon-location_off = '\e0c7'
//link https://material.io/icons/#ic_location_on
$ad-icon-location_on = '\e0c8'
//link https://material.io/icons/#ic_location_searching
$ad-icon-location_searching = '\e1b7'
//link https://material.io/icons/#ic_lock
$ad-icon-lock = '\e897'
//link https://material.io/icons/#ic_lock_open
$ad-icon-lock_open = '\e898'
//link https://material.io/icons/#ic_lock_outline
$ad-icon-lock_outline = '\e899'
//link https://material.io/icons/#ic_looks
$ad-icon-looks = '\e3fc'
//link https://material.io/icons/#ic_looks_3
$ad-icon-looks_3 = '\e3fb'
//link https://material.io/icons/#ic_looks_4
$ad-icon-looks_4 = '\e3fd'
//link https://material.io/icons/#ic_looks_5
$ad-icon-looks_5 = '\e3fe'
//link https://material.io/icons/#ic_looks_6
$ad-icon-looks_6 = '\e3ff'
//link https://material.io/icons/#ic_looks_one
$ad-icon-looks_one = '\e400'
//link https://material.io/icons/#ic_looks_two
$ad-icon-looks_two = '\e401'
//link https://material.io/icons/#ic_loop
$ad-icon-loop = '\e028'
//link https://material.io/icons/#ic_loupe
$ad-icon-loupe = '\e402'
//link https://material.io/icons/#ic_low_priority
$ad-icon-low_priority = '\e16d'
//link https://material.io/icons/#ic_loyalty
$ad-icon-loyalty = '\e89a'
//link https://material.io/icons/#ic_mail
$ad-icon-mail = '\e158'
//link https://material.io/icons/#ic_mail_outline
$ad-icon-mail_outline = '\e0e1'
//link https://material.io/icons/#ic_map
$ad-icon-map = '\e55b'
//link https://material.io/icons/#ic_markunread
$ad-icon-markunread = '\e159'
//link https://material.io/icons/#ic_markunread_mailbox
$ad-icon-markunread_mailbox = '\e89b'
//link https://material.io/icons/#ic_memory
$ad-icon-memory = '\e322'
//link https://material.io/icons/#ic_menu
$ad-icon-menu = '\e5d2'
//link https://material.io/icons/#ic_merge_type
$ad-icon-merge_type = '\e252'
//link https://material.io/icons/#ic_message
$ad-icon-message = '\e0c9'
//link https://material.io/icons/#ic_mic
$ad-icon-mic = '\e029'
//link https://material.io/icons/#ic_mic_none
$ad-icon-mic_none = '\e02a'
//link https://material.io/icons/#ic_mic_off
$ad-icon-mic_off = '\e02b'
//link https://material.io/icons/#ic_mms
$ad-icon-mms = '\e618'
//link https://material.io/icons/#ic_mode_comment
$ad-icon-mode_comment = '\e253'
//link https://material.io/icons/#ic_mode_edit
$ad-icon-mode_edit = '\e254'
//link https://material.io/icons/#ic_monetization_on
$ad-icon-monetization_on = '\e263'
//link https://material.io/icons/#ic_money_off
$ad-icon-money_off = '\e25c'
//link https://material.io/icons/#ic_monochrome_photos
$ad-icon-monochrome_photos = '\e403'
//link https://material.io/icons/#ic_mood
$ad-icon-mood = '\e7f2'
//link https://material.io/icons/#ic_mood_bad
$ad-icon-mood_bad = '\e7f3'
//link https://material.io/icons/#ic_more
$ad-icon-more = '\e619'
//link https://material.io/icons/#ic_more_horiz
$ad-icon-more_horiz = '\e5d3'
//link https://material.io/icons/#ic_more_vert
$ad-icon-more_vert = '\e5d4'
//link https://material.io/icons/#ic_motorcycle
$ad-icon-motorcycle = '\e91b'
//link https://material.io/icons/#ic_mouse
$ad-icon-mouse = '\e323'
//link https://material.io/icons/#ic_move_to_inbox
$ad-icon-move_to_inbox = '\e168'
//link https://material.io/icons/#ic_movie
$ad-icon-movie = '\e02c'
//link https://material.io/icons/#ic_movie_creation
$ad-icon-movie_creation = '\e404'
//link https://material.io/icons/#ic_movie_filter
$ad-icon-movie_filter = '\e43a'
//link https://material.io/icons/#ic_multiline_chart
$ad-icon-multiline_chart = '\e6df'
//link https://material.io/icons/#ic_music_note
$ad-icon-music_note = '\e405'
//link https://material.io/icons/#ic_music_video
$ad-icon-music_video = '\e063'
//link https://material.io/icons/#ic_my_location
$ad-icon-my_location = '\e55c'
//link https://material.io/icons/#ic_nature
$ad-icon-nature = '\e406'
//link https://material.io/icons/#ic_nature_people
$ad-icon-nature_people = '\e407'
//link https://material.io/icons/#ic_navigate_before
$ad-icon-navigate_before = '\e408'
//link https://material.io/icons/#ic_navigate_next
$ad-icon-navigate_next = '\e409'
//link https://material.io/icons/#ic_navigation
$ad-icon-navigation = '\e55d'
//link https://material.io/icons/#ic_near_me
$ad-icon-near_me = '\e569'
//link https://material.io/icons/#ic_network_cell
$ad-icon-network_cell = '\e1b9'
//link https://material.io/icons/#ic_network_check
$ad-icon-network_check = '\e640'
//link https://material.io/icons/#ic_network_locked
$ad-icon-network_locked = '\e61a'
//link https://material.io/icons/#ic_network_wifi
$ad-icon-network_wifi = '\e1ba'
//link https://material.io/icons/#ic_new_releases
$ad-icon-new_releases = '\e031'
//link https://material.io/icons/#ic_next_week
$ad-icon-next_week = '\e16a'
//link https://material.io/icons/#ic_nfc
$ad-icon-nfc = '\e1bb'
//link https://material.io/icons/#ic_no_encryption
$ad-icon-no_encryption = '\e641'
//link https://material.io/icons/#ic_no_sim
$ad-icon-no_sim = '\e0cc'
//link https://material.io/icons/#ic_not_interested
$ad-icon-not_interested = '\e033'
//link https://material.io/icons/#ic_note
$ad-icon-note = '\e06f'
//link https://material.io/icons/#ic_note_add
$ad-icon-note_add = '\e89c'
//link https://material.io/icons/#ic_notifications
$ad-icon-notifications = '\e7f4'
//link https://material.io/icons/#ic_notifications_active
$ad-icon-notifications_active = '\e7f7'
//link https://material.io/icons/#ic_notifications_none
$ad-icon-notifications_none = '\e7f5'
//link https://material.io/icons/#ic_notifications_off
$ad-icon-notifications_off = '\e7f6'
//link https://material.io/icons/#ic_notifications_paused
$ad-icon-notifications_paused = '\e7f8'
//link https://material.io/icons/#ic_offline_pin
$ad-icon-offline_pin = '\e90a'
//link https://material.io/icons/#ic_ondemand_video
$ad-icon-ondemand_video = '\e63a'
//link https://material.io/icons/#ic_opacity
$ad-icon-opacity = '\e91c'
//link https://material.io/icons/#ic_open_in_browser
$ad-icon-open_in_browser = '\e89d'
//link https://material.io/icons/#ic_open_in_new
$ad-icon-open_in_new = '\e89e'
//link https://material.io/icons/#ic_open_with
$ad-icon-open_with = '\e89f'
//link https://material.io/icons/#ic_pages
$ad-icon-pages = '\e7f9'
//link https://material.io/icons/#ic_pageview
$ad-icon-pageview = '\e8a0'
//link https://material.io/icons/#ic_palette
$ad-icon-palette = '\e40a'
//link https://material.io/icons/#ic_pan_tool
$ad-icon-pan_tool = '\e925'
//link https://material.io/icons/#ic_panorama
$ad-icon-panorama = '\e40b'
//link https://material.io/icons/#ic_panorama_fish_eye
$ad-icon-panorama_fish_eye = '\e40c'
//link https://material.io/icons/#ic_panorama_horizontal
$ad-icon-panorama_horizontal = '\e40d'
//link https://material.io/icons/#ic_panorama_vertical
$ad-icon-panorama_vertical = '\e40e'
//link https://material.io/icons/#ic_panorama_wide_angle
$ad-icon-panorama_wide_angle = '\e40f'
//link https://material.io/icons/#ic_party_mode
$ad-icon-party_mode = '\e7fa'
//link https://material.io/icons/#ic_pause
$ad-icon-pause = '\e034'
//link https://material.io/icons/#ic_pause_circle_filled
$ad-icon-pause_circle_filled = '\e035'
//link https://material.io/icons/#ic_pause_circle_outline
$ad-icon-pause_circle_outline = '\e036'
//link https://material.io/icons/#ic_payment
$ad-icon-payment = '\e8a1'
//link https://material.io/icons/#ic_people
$ad-icon-people = '\e7fb'
//link https://material.io/icons/#ic_people_outline
$ad-icon-people_outline = '\e7fc'
//link https://material.io/icons/#ic_perm_camera_mic
$ad-icon-perm_camera_mic = '\e8a2'
//link https://material.io/icons/#ic_perm_contact_calendar
$ad-icon-perm_contact_calendar = '\e8a3'
//link https://material.io/icons/#ic_perm_data_setting
$ad-icon-perm_data_setting = '\e8a4'
//link https://material.io/icons/#ic_perm_device_information
$ad-icon-perm_device_information = '\e8a5'
//link https://material.io/icons/#ic_perm_identity
$ad-icon-perm_identity = '\e8a6'
//link https://material.io/icons/#ic_perm_media
$ad-icon-perm_media = '\e8a7'
//link https://material.io/icons/#ic_perm_phone_msg
$ad-icon-perm_phone_msg = '\e8a8'
//link https://material.io/icons/#ic_perm_scan_wifi
$ad-icon-perm_scan_wifi = '\e8a9'
//link https://material.io/icons/#ic_person
$ad-icon-person = '\e7fd'
//link https://material.io/icons/#ic_person_add
$ad-icon-person_add = '\e7fe'
//link https://material.io/icons/#ic_person_outline
$ad-icon-person_outline = '\e7ff'
//link https://material.io/icons/#ic_person_pin
$ad-icon-person_pin = '\e55a'
//link https://material.io/icons/#ic_person_pin_circle
$ad-icon-person_pin_circle = '\e56a'
//link https://material.io/icons/#ic_personal_video
$ad-icon-personal_video = '\e63b'
//link https://material.io/icons/#ic_pets
$ad-icon-pets = '\e91d'
//link https://material.io/icons/#ic_phone
$ad-icon-phone = '\e0cd'
//link https://material.io/icons/#ic_phone_android
$ad-icon-phone_android = '\e324'
//link https://material.io/icons/#ic_phone_bluetooth_speaker
$ad-icon-phone_bluetooth_speaker = '\e61b'
//link https://material.io/icons/#ic_phone_forwarded
$ad-icon-phone_forwarded = '\e61c'
//link https://material.io/icons/#ic_phone_in_talk
$ad-icon-phone_in_talk = '\e61d'
//link https://material.io/icons/#ic_phone_iphone
$ad-icon-phone_iphone = '\e325'
//link https://material.io/icons/#ic_phone_locked
$ad-icon-phone_locked = '\e61e'
//link https://material.io/icons/#ic_phone_missed
$ad-icon-phone_missed = '\e61f'
//link https://material.io/icons/#ic_phone_paused
$ad-icon-phone_paused = '\e620'
//link https://material.io/icons/#ic_phonelink
$ad-icon-phonelink = '\e326'
//link https://material.io/icons/#ic_phonelink_erase
$ad-icon-phonelink_erase = '\e0db'
//link https://material.io/icons/#ic_phonelink_lock
$ad-icon-phonelink_lock = '\e0dc'
//link https://material.io/icons/#ic_phonelink_off
$ad-icon-phonelink_off = '\e327'
//link https://material.io/icons/#ic_phonelink_ring
$ad-icon-phonelink_ring = '\e0dd'
//link https://material.io/icons/#ic_phonelink_setup
$ad-icon-phonelink_setup = '\e0de'
//link https://material.io/icons/#ic_photo
$ad-icon-photo = '\e410'
//link https://material.io/icons/#ic_photo_album
$ad-icon-photo_album = '\e411'
//link https://material.io/icons/#ic_photo_camera
$ad-icon-photo_camera = '\e412'
//link https://material.io/icons/#ic_photo_filter
$ad-icon-photo_filter = '\e43b'
//link https://material.io/icons/#ic_photo_library
$ad-icon-photo_library = '\e413'
//link https://material.io/icons/#ic_photo_size_select_actual
$ad-icon-photo_size_select_actual = '\e432'
//link https://material.io/icons/#ic_photo_size_select_large
$ad-icon-photo_size_select_large = '\e433'
//link https://material.io/icons/#ic_photo_size_select_small
$ad-icon-photo_size_select_small = '\e434'
//link https://material.io/icons/#ic_picture_as_pdf
$ad-icon-picture_as_pdf = '\e415'
//link https://material.io/icons/#ic_picture_in_picture
$ad-icon-picture_in_picture = '\e8aa'
//link https://material.io/icons/#ic_picture_in_picture_alt
$ad-icon-picture_in_picture_alt = '\e911'
//link https://material.io/icons/#ic_pie_chart
$ad-icon-pie_chart = '\e6c4'
//link https://material.io/icons/#ic_pie_chart_outlined
$ad-icon-pie_chart_outlined = '\e6c5'
//link https://material.io/icons/#ic_pin_drop
$ad-icon-pin_drop = '\e55e'
//link https://material.io/icons/#ic_place
$ad-icon-place = '\e55f'
//link https://material.io/icons/#ic_play_arrow
$ad-icon-play_arrow = '\e037'
//link https://material.io/icons/#ic_play_circle_filled
$ad-icon-play_circle_filled = '\e038'
//link https://material.io/icons/#ic_play_circle_outline
$ad-icon-play_circle_outline = '\e039'
//link https://material.io/icons/#ic_play_for_work
$ad-icon-play_for_work = '\e906'
//link https://material.io/icons/#ic_playlist_add
$ad-icon-playlist_add = '\e03b'
//link https://material.io/icons/#ic_playlist_add_check
$ad-icon-playlist_add_check = '\e065'
//link https://material.io/icons/#ic_playlist_play
$ad-icon-playlist_play = '\e05f'
//link https://material.io/icons/#ic_plus_one
$ad-icon-plus_one = '\e800'
//link https://material.io/icons/#ic_poll
$ad-icon-poll = '\e801'
//link https://material.io/icons/#ic_polymer
$ad-icon-polymer = '\e8ab'
//link https://material.io/icons/#ic_pool
$ad-icon-pool = '\eb48'
//link https://material.io/icons/#ic_portable_wifi_off
$ad-icon-portable_wifi_off = '\e0ce'
//link https://material.io/icons/#ic_portrait
$ad-icon-portrait = '\e416'
//link https://material.io/icons/#ic_power
$ad-icon-power = '\e63c'
//link https://material.io/icons/#ic_power_input
$ad-icon-power_input = '\e336'
//link https://material.io/icons/#ic_power_settings_new
$ad-icon-power_settings_new = '\e8ac'
//link https://material.io/icons/#ic_pregnant_woman
$ad-icon-pregnant_woman = '\e91e'
//link https://material.io/icons/#ic_present_to_all
$ad-icon-present_to_all = '\e0df'
//link https://material.io/icons/#ic_print
$ad-icon-print = '\e8ad'
//link https://material.io/icons/#ic_priority_high
$ad-icon-priority_high = '\e645'
//link https://material.io/icons/#ic_public
$ad-icon-public = '\e80b'
//link https://material.io/icons/#ic_publish
$ad-icon-publish = '\e255'
//link https://material.io/icons/#ic_query_builder
$ad-icon-query_builder = '\e8ae'
//link https://material.io/icons/#ic_question_answer
$ad-icon-question_answer = '\e8af'
//link https://material.io/icons/#ic_queue
$ad-icon-queue = '\e03c'
//link https://material.io/icons/#ic_queue_music
$ad-icon-queue_music = '\e03d'
//link https://material.io/icons/#ic_queue_play_next
$ad-icon-queue_play_next = '\e066'
//link https://material.io/icons/#ic_radio
$ad-icon-radio = '\e03e'
//link https://material.io/icons/#ic_radio_button_checked
$ad-icon-radio_button_checked = '\e837'
//link https://material.io/icons/#ic_radio_button_unchecked
$ad-icon-radio_button_unchecked = '\e836'
//link https://material.io/icons/#ic_rate_review
$ad-icon-rate_review = '\e560'
//link https://material.io/icons/#ic_receipt
$ad-icon-receipt = '\e8b0'
//link https://material.io/icons/#ic_recent_actors
$ad-icon-recent_actors = '\e03f'
//link https://material.io/icons/#ic_record_voice_over
$ad-icon-record_voice_over = '\e91f'
//link https://material.io/icons/#ic_redeem
$ad-icon-redeem = '\e8b1'
//link https://material.io/icons/#ic_redo
$ad-icon-redo = '\e15a'
//link https://material.io/icons/#ic_refresh
$ad-icon-refresh = '\e5d5'
//link https://material.io/icons/#ic_remove
$ad-icon-remove = '\e15b'
//link https://material.io/icons/#ic_remove_circle
$ad-icon-remove_circle = '\e15c'
//link https://material.io/icons/#ic_remove_circle_outline
$ad-icon-remove_circle_outline = '\e15d'
//link https://material.io/icons/#ic_remove_from_queue
$ad-icon-remove_from_queue = '\e067'
//link https://material.io/icons/#ic_remove_red_eye
$ad-icon-remove_red_eye = '\e417'
//link https://material.io/icons/#ic_remove_shopping_cart
$ad-icon-remove_shopping_cart = '\e928'
//link https://material.io/icons/#ic_reorder
$ad-icon-reorder = '\e8fe'
//link https://material.io/icons/#ic_repeat
$ad-icon-repeat = '\e040'
//link https://material.io/icons/#ic_repeat_one
$ad-icon-repeat_one = '\e041'
//link https://material.io/icons/#ic_replay
$ad-icon-replay = '\e042'
//link https://material.io/icons/#ic_replay_10
$ad-icon-replay_10 = '\e059'
//link https://material.io/icons/#ic_replay_30
$ad-icon-replay_30 = '\e05a'
//link https://material.io/icons/#ic_replay_5
$ad-icon-replay_5 = '\e05b'
//link https://material.io/icons/#ic_reply
$ad-icon-reply = '\e15e'
//link https://material.io/icons/#ic_reply_all
$ad-icon-reply_all = '\e15f'
//link https://material.io/icons/#ic_report
$ad-icon-report = '\e160'
//link https://material.io/icons/#ic_report_problem
$ad-icon-report_problem = '\e8b2'
//link https://material.io/icons/#ic_restaurant
$ad-icon-restaurant = '\e56c'
//link https://material.io/icons/#ic_restaurant_menu
$ad-icon-restaurant_menu = '\e561'
//link https://material.io/icons/#ic_restore
$ad-icon-restore = '\e8b3'
//link https://material.io/icons/#ic_restore_page
$ad-icon-restore_page = '\e929'
//link https://material.io/icons/#ic_ring_volume
$ad-icon-ring_volume = '\e0d1'
//link https://material.io/icons/#ic_room
$ad-icon-room = '\e8b4'
//link https://material.io/icons/#ic_room_service
$ad-icon-room_service = '\eb49'
//link https://material.io/icons/#ic_rotate_90_degrees_ccw
$ad-icon-rotate_90_degrees_ccw = '\e418'
//link https://material.io/icons/#ic_rotate_left
$ad-icon-rotate_left = '\e419'
//link https://material.io/icons/#ic_rotate_right
$ad-icon-rotate_right = '\e41a'
//link https://material.io/icons/#ic_rounded_corner
$ad-icon-rounded_corner = '\e920'
//link https://material.io/icons/#ic_router
$ad-icon-router = '\e328'
//link https://material.io/icons/#ic_rowing
$ad-icon-rowing = '\e921'
//link https://material.io/icons/#ic_rss_feed
$ad-icon-rss_feed = '\e0e5'
//link https://material.io/icons/#ic_rv_hookup
$ad-icon-rv_hookup = '\e642'
//link https://material.io/icons/#ic_satellite
$ad-icon-satellite = '\e562'
//link https://material.io/icons/#ic_save
$ad-icon-save = '\e161'
//link https://material.io/icons/#ic_scanner
$ad-icon-scanner = '\e329'
//link https://material.io/icons/#ic_schedule
$ad-icon-schedule = '\e8b5'
//link https://material.io/icons/#ic_school
$ad-icon-school = '\e80c'
//link https://material.io/icons/#ic_screen_lock_landscape
$ad-icon-screen_lock_landscape = '\e1be'
//link https://material.io/icons/#ic_screen_lock_portrait
$ad-icon-screen_lock_portrait = '\e1bf'
//link https://material.io/icons/#ic_screen_lock_rotation
$ad-icon-screen_lock_rotation = '\e1c0'
//link https://material.io/icons/#ic_screen_rotation
$ad-icon-screen_rotation = '\e1c1'
//link https://material.io/icons/#ic_screen_share
$ad-icon-screen_share = '\e0e2'
//link https://material.io/icons/#ic_sd_card
$ad-icon-sd_card = '\e623'
//link https://material.io/icons/#ic_sd_storage
$ad-icon-sd_storage = '\e1c2'
//link https://material.io/icons/#ic_search
$ad-icon-search = '\e8b6'
//link https://material.io/icons/#ic_security
$ad-icon-security = '\e32a'
//link https://material.io/icons/#ic_select_all
$ad-icon-select_all = '\e162'
//link https://material.io/icons/#ic_send
$ad-icon-send = '\e163'
//link https://material.io/icons/#ic_sentiment_dissatisfied
$ad-icon-sentiment_dissatisfied = '\e811'
//link https://material.io/icons/#ic_sentiment_neutral
$ad-icon-sentiment_neutral = '\e812'
//link https://material.io/icons/#ic_sentiment_satisfied
$ad-icon-sentiment_satisfied = '\e813'
//link https://material.io/icons/#ic_sentiment_very_dissatisfied
$ad-icon-sentiment_very_dissatisfied = '\e814'
//link https://material.io/icons/#ic_sentiment_very_satisfied
$ad-icon-sentiment_very_satisfied = '\e815'
//link https://material.io/icons/#ic_settings
$ad-icon-settings = '\e8b8'
//link https://material.io/icons/#ic_settings_applications
$ad-icon-settings_applications = '\e8b9'
//link https://material.io/icons/#ic_settings_backup_restore
$ad-icon-settings_backup_restore = '\e8ba'
//link https://material.io/icons/#ic_settings_bluetooth
$ad-icon-settings_bluetooth = '\e8bb'
//link https://material.io/icons/#ic_settings_brightness
$ad-icon-settings_brightness = '\e8bd'
//link https://material.io/icons/#ic_settings_cell
$ad-icon-settings_cell = '\e8bc'
//link https://material.io/icons/#ic_settings_ethernet
$ad-icon-settings_ethernet = '\e8be'
//link https://material.io/icons/#ic_settings_input_antenna
$ad-icon-settings_input_antenna = '\e8bf'
//link https://material.io/icons/#ic_settings_input_component
$ad-icon-settings_input_component = '\e8c0'
//link https://material.io/icons/#ic_settings_input_composite
$ad-icon-settings_input_composite = '\e8c1'
//link https://material.io/icons/#ic_settings_input_hdmi
$ad-icon-settings_input_hdmi = '\e8c2'
//link https://material.io/icons/#ic_settings_input_svideo
$ad-icon-settings_input_svideo = '\e8c3'
//link https://material.io/icons/#ic_settings_overscan
$ad-icon-settings_overscan = '\e8c4'
//link https://material.io/icons/#ic_settings_phone
$ad-icon-settings_phone = '\e8c5'
//link https://material.io/icons/#ic_settings_power
$ad-icon-settings_power = '\e8c6'
//link https://material.io/icons/#ic_settings_remote
$ad-icon-settings_remote = '\e8c7'
//link https://material.io/icons/#ic_settings_system_daydream
$ad-icon-settings_system_daydream = '\e1c3'
//link https://material.io/icons/#ic_settings_voice
$ad-icon-settings_voice = '\e8c8'
//link https://material.io/icons/#ic_share
$ad-icon-share = '\e80d'
//link https://material.io/icons/#ic_shop
$ad-icon-shop = '\e8c9'
//link https://material.io/icons/#ic_shop_two
$ad-icon-shop_two = '\e8ca'
//link https://material.io/icons/#ic_shopping_basket
$ad-icon-shopping_basket = '\e8cb'
//link https://material.io/icons/#ic_shopping_cart
$ad-icon-shopping_cart = '\e8cc'
//link https://material.io/icons/#ic_short_text
$ad-icon-short_text = '\e261'
//link https://material.io/icons/#ic_show_chart
$ad-icon-show_chart = '\e6e1'
//link https://material.io/icons/#ic_shuffle
$ad-icon-shuffle = '\e043'
//link https://material.io/icons/#ic_signal_cellular_4_bar
$ad-icon-signal_cellular_4_bar = '\e1c8'
//link https://material.io/icons/#ic_signal_cellular_connected_no_internet_4_bar
$ad-icon-signal_cellular_connected_no_internet_4_bar = '\e1cd'
//link https://material.io/icons/#ic_signal_cellular_no_sim
$ad-icon-signal_cellular_no_sim = '\e1ce'
//link https://material.io/icons/#ic_signal_cellular_null
$ad-icon-signal_cellular_null = '\e1cf'
//link https://material.io/icons/#ic_signal_cellular_off
$ad-icon-signal_cellular_off = '\e1d0'
//link https://material.io/icons/#ic_signal_wifi_4_bar
$ad-icon-signal_wifi_4_bar = '\e1d8'
//link https://material.io/icons/#ic_signal_wifi_4_bar_lock
$ad-icon-signal_wifi_4_bar_lock = '\e1d9'
//link https://material.io/icons/#ic_signal_wifi_off
$ad-icon-signal_wifi_off = '\e1da'
//link https://material.io/icons/#ic_sim_card
$ad-icon-sim_card = '\e32b'
//link https://material.io/icons/#ic_sim_card_alert
$ad-icon-sim_card_alert = '\e624'
//link https://material.io/icons/#ic_skip_next
$ad-icon-skip_next = '\e044'
//link https://material.io/icons/#ic_skip_previous
$ad-icon-skip_previous = '\e045'
//link https://material.io/icons/#ic_slideshow
$ad-icon-slideshow = '\e41b'
//link https://material.io/icons/#ic_slow_motion_video
$ad-icon-slow_motion_video = '\e068'
//link https://material.io/icons/#ic_smartphone
$ad-icon-smartphone = '\e32c'
//link https://material.io/icons/#ic_smoke_free
$ad-icon-smoke_free = '\eb4a'
//link https://material.io/icons/#ic_smoking_rooms
$ad-icon-smoking_rooms = '\eb4b'
//link https://material.io/icons/#ic_sms
$ad-icon-sms = '\e625'
//link https://material.io/icons/#ic_sms_failed
$ad-icon-sms_failed = '\e626'
//link https://material.io/icons/#ic_snooze
$ad-icon-snooze = '\e046'
//link https://material.io/icons/#ic_sort
$ad-icon-sort = '\e164'
//link https://material.io/icons/#ic_sort_by_alpha
$ad-icon-sort_by_alpha = '\e053'
//link https://material.io/icons/#ic_spa
$ad-icon-spa = '\eb4c'
//link https://material.io/icons/#ic_space_bar
$ad-icon-space_bar = '\e256'
//link https://material.io/icons/#ic_speaker
$ad-icon-speaker = '\e32d'
//link https://material.io/icons/#ic_speaker_group
$ad-icon-speaker_group = '\e32e'
//link https://material.io/icons/#ic_speaker_notes
$ad-icon-speaker_notes = '\e8cd'
//link https://material.io/icons/#ic_speaker_notes_off
$ad-icon-speaker_notes_off = '\e92a'
//link https://material.io/icons/#ic_speaker_phone
$ad-icon-speaker_phone = '\e0d2'
//link https://material.io/icons/#ic_spellcheck
$ad-icon-spellcheck = '\e8ce'
//link https://material.io/icons/#ic_star
$ad-icon-star = '\e838'
//link https://material.io/icons/#ic_star_border
$ad-icon-star_border = '\e83a'
//link https://material.io/icons/#ic_star_half
$ad-icon-star_half = '\e839'
//link https://material.io/icons/#ic_stars
$ad-icon-stars = '\e8d0'
//link https://material.io/icons/#ic_stay_current_landscape
$ad-icon-stay_current_landscape = '\e0d3'
//link https://material.io/icons/#ic_stay_current_portrait
$ad-icon-stay_current_portrait = '\e0d4'
//link https://material.io/icons/#ic_stay_primary_landscape
$ad-icon-stay_primary_landscape = '\e0d5'
//link https://material.io/icons/#ic_stay_primary_portrait
$ad-icon-stay_primary_portrait = '\e0d6'
//link https://material.io/icons/#ic_stop
$ad-icon-stop = '\e047'
//link https://material.io/icons/#ic_stop_screen_share
$ad-icon-stop_screen_share = '\e0e3'
//link https://material.io/icons/#ic_storage
$ad-icon-storage = '\e1db'
//link https://material.io/icons/#ic_store
$ad-icon-store = '\e8d1'
//link https://material.io/icons/#ic_store_mall_directory
$ad-icon-store_mall_directory = '\e563'
//link https://material.io/icons/#ic_straighten
$ad-icon-straighten = '\e41c'
//link https://material.io/icons/#ic_streetview
$ad-icon-streetview = '\e56e'
//link https://material.io/icons/#ic_strikethrough_s
$ad-icon-strikethrough_s = '\e257'
//link https://material.io/icons/#ic_style
$ad-icon-style = '\e41d'
//link https://material.io/icons/#ic_subdirectory_arrow_left
$ad-icon-subdirectory_arrow_left = '\e5d9'
//link https://material.io/icons/#ic_subdirectory_arrow_right
$ad-icon-subdirectory_arrow_right = '\e5da'
//link https://material.io/icons/#ic_subject
$ad-icon-subject = '\e8d2'
//link https://material.io/icons/#ic_subscriptions
$ad-icon-subscriptions = '\e064'
//link https://material.io/icons/#ic_subtitles
$ad-icon-subtitles = '\e048'
//link https://material.io/icons/#ic_subway
$ad-icon-subway = '\e56f'
//link https://material.io/icons/#ic_supervisor_account
$ad-icon-supervisor_account = '\e8d3'
//link https://material.io/icons/#ic_surround_sound
$ad-icon-surround_sound = '\e049'
//link https://material.io/icons/#ic_swap_calls
$ad-icon-swap_calls = '\e0d7'
//link https://material.io/icons/#ic_swap_horiz
$ad-icon-swap_horiz = '\e8d4'
//link https://material.io/icons/#ic_swap_vert
$ad-icon-swap_vert = '\e8d5'
//link https://material.io/icons/#ic_swap_vertical_circle
$ad-icon-swap_vertical_circle = '\e8d6'
//link https://material.io/icons/#ic_switch_camera
$ad-icon-switch_camera = '\e41e'
//link https://material.io/icons/#ic_switch_video
$ad-icon-switch_video = '\e41f'
//link https://material.io/icons/#ic_sync
$ad-icon-sync = '\e627'
//link https://material.io/icons/#ic_sync_disabled
$ad-icon-sync_disabled = '\e628'
//link https://material.io/icons/#ic_sync_problem
$ad-icon-sync_problem = '\e629'
//link https://material.io/icons/#ic_system_update
$ad-icon-system_update = '\e62a'
//link https://material.io/icons/#ic_system_update_alt
$ad-icon-system_update_alt = '\e8d7'
//link https://material.io/icons/#ic_tab
$ad-icon-tab = '\e8d8'
//link https://material.io/icons/#ic_tab_unselected
$ad-icon-tab_unselected = '\e8d9'
//link https://material.io/icons/#ic_tablet
$ad-icon-tablet = '\e32f'
//link https://material.io/icons/#ic_tablet_android
$ad-icon-tablet_android = '\e330'
//link https://material.io/icons/#ic_tablet_mac
$ad-icon-tablet_mac = '\e331'
//link https://material.io/icons/#ic_tag_faces
$ad-icon-tag_faces = '\e420'
//link https://material.io/icons/#ic_tap_and_play
$ad-icon-tap_and_play = '\e62b'
//link https://material.io/icons/#ic_terrain
$ad-icon-terrain = '\e564'
//link https://material.io/icons/#ic_text_fields
$ad-icon-text_fields = '\e262'
//link https://material.io/icons/#ic_text_format
$ad-icon-text_format = '\e165'
//link https://material.io/icons/#ic_textsms
$ad-icon-textsms = '\e0d8'
//link https://material.io/icons/#ic_texture
$ad-icon-texture = '\e421'
//link https://material.io/icons/#ic_theaters
$ad-icon-theaters = '\e8da'
//link https://material.io/icons/#ic_thumb_down
$ad-icon-thumb_down = '\e8db'
//link https://material.io/icons/#ic_thumb_up
$ad-icon-thumb_up = '\e8dc'
//link https://material.io/icons/#ic_thumbs_up_down
$ad-icon-thumbs_up_down = '\e8dd'
//link https://material.io/icons/#ic_time_to_leave
$ad-icon-time_to_leave = '\e62c'
//link https://material.io/icons/#ic_timelapse
$ad-icon-timelapse = '\e422'
//link https://material.io/icons/#ic_timeline
$ad-icon-timeline = '\e922'
//link https://material.io/icons/#ic_timer
$ad-icon-timer = '\e425'
//link https://material.io/icons/#ic_timer_10
$ad-icon-timer_10 = '\e423'
//link https://material.io/icons/#ic_timer_3
$ad-icon-timer_3 = '\e424'
//link https://material.io/icons/#ic_timer_off
$ad-icon-timer_off = '\e426'
//link https://material.io/icons/#ic_title
$ad-icon-title = '\e264'
//link https://material.io/icons/#ic_toc
$ad-icon-toc = '\e8de'
//link https://material.io/icons/#ic_today
$ad-icon-today = '\e8df'
//link https://material.io/icons/#ic_toll
$ad-icon-toll = '\e8e0'
//link https://material.io/icons/#ic_tonality
$ad-icon-tonality = '\e427'
//link https://material.io/icons/#ic_touch_app
$ad-icon-touch_app = '\e913'
//link https://material.io/icons/#ic_toys
$ad-icon-toys = '\e332'
//link https://material.io/icons/#ic_track_changes
$ad-icon-track_changes = '\e8e1'
//link https://material.io/icons/#ic_traffic
$ad-icon-traffic = '\e565'
//link https://material.io/icons/#ic_train
$ad-icon-train = '\e570'
//link https://material.io/icons/#ic_tram
$ad-icon-tram = '\e571'
//link https://material.io/icons/#ic_transfer_within_a_station
$ad-icon-transfer_within_a_station = '\e572'
//link https://material.io/icons/#ic_transform
$ad-icon-transform = '\e428'
//link https://material.io/icons/#ic_translate
$ad-icon-translate = '\e8e2'
//link https://material.io/icons/#ic_trending_down
$ad-icon-trending_down = '\e8e3'
//link https://material.io/icons/#ic_trending_flat
$ad-icon-trending_flat = '\e8e4'
//link https://material.io/icons/#ic_trending_up
$ad-icon-trending_up = '\e8e5'
//link https://material.io/icons/#ic_tune
$ad-icon-tune = '\e429'
//link https://material.io/icons/#ic_turned_in
$ad-icon-turned_in = '\e8e6'
//link https://material.io/icons/#ic_turned_in_not
$ad-icon-turned_in_not = '\e8e7'
//link https://material.io/icons/#ic_tv
$ad-icon-tv = '\e333'
//link https://material.io/icons/#ic_unarchive
$ad-icon-unarchive = '\e169'
//link https://material.io/icons/#ic_undo
$ad-icon-undo = '\e166'
//link https://material.io/icons/#ic_unfold_less
$ad-icon-unfold_less = '\e5d6'
//link https://material.io/icons/#ic_unfold_more
$ad-icon-unfold_more = '\e5d7'
//link https://material.io/icons/#ic_update
$ad-icon-update = '\e923'
//link https://material.io/icons/#ic_usb
$ad-icon-usb = '\e1e0'
//link https://material.io/icons/#ic_verified_user
$ad-icon-verified_user = '\e8e8'
//link https://material.io/icons/#ic_vertical_align_bottom
$ad-icon-vertical_align_bottom = '\e258'
//link https://material.io/icons/#ic_vertical_align_center
$ad-icon-vertical_align_center = '\e259'
//link https://material.io/icons/#ic_vertical_align_top
$ad-icon-vertical_align_top = '\e25a'
//link https://material.io/icons/#ic_vibration
$ad-icon-vibration = '\e62d'
//link https://material.io/icons/#ic_video_call
$ad-icon-video_call = '\e070'
//link https://material.io/icons/#ic_video_label
$ad-icon-video_label = '\e071'
//link https://material.io/icons/#ic_video_library
$ad-icon-video_library = '\e04a'
//link https://material.io/icons/#ic_videocam
$ad-icon-videocam = '\e04b'
//link https://material.io/icons/#ic_videocam_off
$ad-icon-videocam_off = '\e04c'
//link https://material.io/icons/#ic_videogame_asset
$ad-icon-videogame_asset = '\e338'
//link https://material.io/icons/#ic_view_agenda
$ad-icon-view_agenda = '\e8e9'
//link https://material.io/icons/#ic_view_array
$ad-icon-view_array = '\e8ea'
//link https://material.io/icons/#ic_view_carousel
$ad-icon-view_carousel = '\e8eb'
//link https://material.io/icons/#ic_view_column
$ad-icon-view_column = '\e8ec'
//link https://material.io/icons/#ic_view_comfy
$ad-icon-view_comfy = '\e42a'
//link https://material.io/icons/#ic_view_compact
$ad-icon-view_compact = '\e42b'
//link https://material.io/icons/#ic_view_day
$ad-icon-view_day = '\e8ed'
//link https://material.io/icons/#ic_view_headline
$ad-icon-view_headline = '\e8ee'
//link https://material.io/icons/#ic_view_list
$ad-icon-view_list = '\e8ef'
//link https://material.io/icons/#ic_view_module
$ad-icon-view_module = '\e8f0'
//link https://material.io/icons/#ic_view_quilt
$ad-icon-view_quilt = '\e8f1'
//link https://material.io/icons/#ic_view_stream
$ad-icon-view_stream = '\e8f2'
//link https://material.io/icons/#ic_view_week
$ad-icon-view_week = '\e8f3'
//link https://material.io/icons/#ic_vignette
$ad-icon-vignette = '\e435'
//link https://material.io/icons/#ic_visibility
$ad-icon-visibility = '\e8f4'
//link https://material.io/icons/#ic_visibility_off
$ad-icon-visibility_off = '\e8f5'
//link https://material.io/icons/#ic_voice_chat
$ad-icon-voice_chat = '\e62e'
//link https://material.io/icons/#ic_voicemail
$ad-icon-voicemail = '\e0d9'
//link https://material.io/icons/#ic_volume_down
$ad-icon-volume_down = '\e04d'
//link https://material.io/icons/#ic_volume_mute
$ad-icon-volume_mute = '\e04e'
//link https://material.io/icons/#ic_volume_off
$ad-icon-volume_off = '\e04f'
//link https://material.io/icons/#ic_volume_up
$ad-icon-volume_up = '\e050'
//link https://material.io/icons/#ic_vpn_key
$ad-icon-vpn_key = '\e0da'
//link https://material.io/icons/#ic_vpn_lock
$ad-icon-vpn_lock = '\e62f'
//link https://material.io/icons/#ic_wallpaper
$ad-icon-wallpaper = '\e1bc'
//link https://material.io/icons/#ic_warning
$ad-icon-warning = '\e002'
//link https://material.io/icons/#ic_watch
$ad-icon-watch = '\e334'
//link https://material.io/icons/#ic_watch_later
$ad-icon-watch_later = '\e924'
//link https://material.io/icons/#ic_wb_auto
$ad-icon-wb_auto = '\e42c'
//link https://material.io/icons/#ic_wb_cloudy
$ad-icon-wb_cloudy = '\e42d'
//link https://material.io/icons/#ic_wb_incandescent
$ad-icon-wb_incandescent = '\e42e'
//link https://material.io/icons/#ic_wb_iridescent
$ad-icon-wb_iridescent = '\e436'
//link https://material.io/icons/#ic_wb_sunny
$ad-icon-wb_sunny = '\e430'
//link https://material.io/icons/#ic_wc
$ad-icon-wc = '\e63d'
//link https://material.io/icons/#ic_web
$ad-icon-web = '\e051'
//link https://material.io/icons/#ic_web_asset
$ad-icon-web_asset = '\e069'
//link https://material.io/icons/#ic_weekend
$ad-icon-weekend = '\e16b'
//link https://material.io/icons/#ic_whatshot
$ad-icon-whatshot = '\e80e'
//link https://material.io/icons/#ic_widgets
$ad-icon-widgets = '\e1bd'
//link https://material.io/icons/#ic_wifi
$ad-icon-wifi = '\e63e'
//link https://material.io/icons/#ic_wifi_lock
$ad-icon-wifi_lock = '\e1e1'
//link https://material.io/icons/#ic_wifi_tethering
$ad-icon-wifi_tethering = '\e1e2'
//link https://material.io/icons/#ic_work
$ad-icon-work = '\e8f9'
//link https://material.io/icons/#ic_wrap_text
$ad-icon-wrap_text = '\e25b'
//link https://material.io/icons/#ic_youtube_searched_for
$ad-icon-youtube_searched_for = '\e8fa'
//link https://material.io/icons/#ic_zoom_in
$ad-icon-zoom_in = '\e8ff'
//link https://material.io/icons/#ic_zoom_out
$ad-icon-zoom_out = '\e900'
//link https://material.io/icons/#ic_zoom_out_map
$ad-icon-zoom_out_map = '\e56b'
