.cell
    align-self stretch
    justify-content center
    align-content center
    text-overflow fade clip

.blank
    @extend .cell
    > div
        background #f6f7f8
        background linear-gradient(to right, #eeeeee 8%, #f6f7f8 18%, #eeeeee 33%)
        height 1rem
        margin 10px
        width 100%
        align-self: center;
