
.row
    display flex
    position relative
    width 100%

.expanded
    display flex
    flex-direction column
    .row
        flex 0 0
    .expanded-content
        flex 1 1

.expandable
    @extends .row
    cursor pointer
