:hover ~ .row-actions , .row-actions:hover
    display flex

.row-actions
    display none

.actions
    display flex
    flex-direction row
    color rgb(33, 33, 33)
    transform-origin center right
    transition transform .1s linear
    z-index 1
    list-style none
    flex-wrap nowrap
    align-items space-between
    padding 0
    margin 0
    justify-content flex-end
    position absolute
    right: 0
    padding-right 5px
    transform: translateX(-100%);

//Label is here just for aria and for convience.
.label
    display inline-block
    height 1
    width 1
    top 200vw
    opacity .01
    position absolute

.action, .menu-item
    display flex
    align-items center
    padding 8px 10px
    pointer cursor
    background #fff
    margin 0

.action-menu
    position absolute
    position fixed
    display flex
    flex-direction column
    margin 0
    padding 5px 0
    cursor default
    background-color #fff
    border-radius 2px
    box-shadow 0 0 6px rgba(0, 0, 0, .16), 0 6px 12px rgba(0, 0, 0, .32)
    color #757575
    list-style none
    line-height 32px
    min-width 250px
    outline none
    text-align left
    white-space nowrap
    z-index 20
    margin-top 40px
    margin-right 5px
    margin-left -30px

.action-menu
    .action:hover
        background-color rgba(0, 0, 0, .1)

    .label
        display inline
        position relative
        top inherit
        opacity .99
        height auto
        width auto

    .icon + .label
        padding 3px 0 0 10px

    .action
        border-bottom 1px solid rgba(0, 0, 0, .2)

    .action:last-child
        border-bottom 1px solid transparent

.icon
    position: relative
    top: 1px
    display: inline-block
    font-family: 'Glyphicons Halflings'
    font-style: normal
    font-weight: normal
    line-height: 1
    -webkit-font-smoothing: antialiased
    font-size 1.5rem
    padding 0 10px

.icon:before
    border-radius: 50%
    background: transparent
    display: inline-block
    padding: 5px

.icon-vertical:before
    content: "\E235"


.icon:active:before, .active > .icon:before
    border-radius 50%
    background #ddd
    display inline-block
    padding 5px


