//.bh-icons really needs a :before but this fixes it for this case.
.icon:before
    content '↓'
    font-family 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
    display inline-block
    will-change transform, opacity
    transition transform .3s ease, opacity .2s ease
    transform rotate(0)
    opacity .01
    padding 5px

//show the next state on hover
:hover > .icon:before, :hover + .icon:before {
    opacity .5
}


//just a marker
.ASC:before
    @extend .icon:before
    transform rotate(0)
    opacity .99

.DESC:before
    @extend .icon:before
    transform rotate(180deg)
    opacity .99

:hover > .icon
    opacity .5

:active > .ASC:before
    opacity .50
    transform rotate(180deg)

:active > .DESC:before
    opacity .50
    transform rotate(0)

