.container
    display block
    position relative
    overflow-y scroll
    overflow-x visible
    box-sizing border-box
    *
        box-sizing border-box

.unvirtualized-container {
    //placeholder
    width 100%
    position static
}
.scroller
    position relative
    overflow auto
    -webkit-overflow-scrolling: auto

.viewport
    box-sizing border-box
    width 100%
    top 0
    left 0
    position absolute

.unvirtualized
    position static
    height 100%


.sizer
    top 0
    left 0
    width 100%
    position absolute

